{
    "extends": "holidaycheck/es2015",
    "env": {
        "node": "true"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [ "eslint-plugin-react" ],
    "rules": {
        "react/jsx-uses-react": "error"
    }
}
